body {
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

[type="text"] {
  padding: 50px 30px;
  background: #1f1f1f;
  color: white;
  font-size: 72px;
  font-weight: bold;
  border-radius: 10px;
}

[type="button"] {
  font-size: 72px;
  color: white;
  padding: 50px 100px;
  width: 100%;
  border-radius: 20px;
  background: #424548;
  border: none;
}
.operand {
  background: #70757a;
}
