html {
  background-color: black;
}

#btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#reset {
  font-size: 24px;
  border-radius: 5px;
}

#container_wrapper {
  display: flex;
  justify-content: center;
}
body {
  height: 100vh;
}
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 80vh;
}

#grid {
  opacity: 0;
  background: lightgrey;
}
